body{
    background-color: orange;
}

.title{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
}

.container{
    padding: 0;
}